section.receitas_salvas{
    padding: 160px 6%; 
    text-align: left;
}

section.receitas_salvas h2{
    font-size: 35px;
}


.interface{
    margin-top: 10px;
}

.receita{
    text-align: center; 
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #d5d5d5;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    margin-left: 1px;
    margin-top: 20px;
}

.flex2{
    display: flex;
    text-align: center; 
    margin-left: 32%;
}

.receita img{
    border-radius: 10px;
}

.flex2 h5{
    margin-left: 5px;
}

i {
    color: red;
}