/* --- ESTILO GERAL --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Cor do background (fundo do site) */
body {
    background-color: #f8f8ff;
    height: 100vh;
}

/* Definir os limites do site */
.interface {
    max-width: 1280px;
    margin: 0;
}

/* todos os titulos */
h2.titulo {
    color: #00401A;
    font-size: 40px;
    text-align: center;
}

h2.titulo span {
    color: #ff8c00;
}

h2.titulo2 {
    color: #00401A;
    font-size: 30px;
    text-align: center;
}

h2.titulo2 span {
    color: #ff8c00;
}


.flex {
    display: flex;
}

.flex-2 {
    display: flex;
}

/* --- ESTILO DA INTERFACE --- */
header {
    padding: 40px 1%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- ESTILO DA BARRA 1 - CABEÇALHO --- */
.perfil {
    font-size: 40px;
    color: #00401A;
}

.perfil {
    margin-right: 20px;
}

.perfil button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #f8f8ff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s0;
}

.barra-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffa500;
    height: 15vh;
    z-index: 1000;
    /* Certifique-se de que a barra-1 está acima de outros elementos */
}


.barra-pesquisa input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    margin-right: 5px;
}

.barra-pesquisa button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ffc93b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.barra-pesquisa button:hover {
    background-color: #D5A432;
}

.pesquisa-wrapper {
    position: relative;
}

.pesquisa-wrapper input[type="text"] {
    padding: 8px 30px 8px 8px;
    /* Ajuste o padding conforme necessário */
}

.pesquisa-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.barra-de-pesquisa-desktop {
    margin-left: 790px;
    margin-top: 12px;
}

/* --- ESTILO DA BARRA 2 - CABEÇALHO --- */
.barra-2 {
    position: fixed;
    top: 15vh;
    /* Ajuste conforme necessário para alinhar abaixo da barra-1 */
    left: 0;
    width: 100%;
    background: #E9C172;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 999;
    /* Certifique-se de que a barra-2 está acima de outros elementos, mas abaixo da barra-1 */
}

.barra-2 a {
    text-decoration: none;
}

.menus {
    display: flex;
}

.menu {
    margin-right: 30px;
    margin-left: 30px;
    ;
    /* Espaçamento entre os menus(largura) */
}

.menu h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #fcebca;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin-top: 0px;
    /* Espaço de cima do submenu */
    padding: 5px 0;
    /* Espaço interno do submenu */
    margin-left: 10px;
}

.submenu li {
    padding: 8px 20px;
    /* Espaçamento dos itens do menu */
}

.submenu li a {
    color: #01020a;
}

.menu:hover .submenu {
    display: block;
    z-index: 1;

}

/* ESTILO DO NOVO CODIGO AQUI \/  */



/* --- ESTILO DO RODAPÉ --- */
footer {
    padding: 20px 3%;
    background: #00401A;
    box-shadow: 0 0 40px 2px #01020a;
    align-items: center;
    justify-content: space-between;
}

footer.flex {
    justify-content: space-between;
    gap: 200px;
    /* Adiciona um espaço de 200 pixels entre os itens */
}


footer .line-footer {
    color: #ccc;
}

.line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #ffffff;
}

.redes-sociais {
    display: flex;
    align-items: center;
    /* Alinha os ícones verticalmente no centro */
    margin-left: 800px;
}

.redes-sociais button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f8f8ff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s0;
}

/* Adicione este estilo para os links no rodapé */
.links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    /* Ajuste conforme necessário para o espaçamento desejado */
}

.links-footer a {
    text-decoration: none;
    color: #ccc;
    /* Adapte a cor conforme necessário */
    font-size: 14px;
    transition: color 0.3s ease;
}

.links-footer a:hover {
    color: #fff;
    /* Cor ao passar o mouse, ajuste conforme necessário */
}

.links-footer p {
    color: #f8f8ff;
    margin-left: 280px;
}

/* ---- RESPONSIVO --- */
@media screen and (max-width: 1020px) {
    .barra-de-pesquisa-desktop {
        display: none;
    }
}


.container {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 50px;
}

.recipe {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recipe img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}



/* --- CSS ADICIONAIS --- */

.receita {
    padding: 180px 15%;
}


.recipe-details {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.recipe-info,
.ingredients,
.recipe-method, .ingredients{
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    /* Cor do texto */
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    /* Cor da borda */
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 180px;
    /* Ajustar altura do textarea */
}

.recipe-container button {
    padding: 15px 25px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-container button:hover {
    background-color: #ffa500;
}

.recipe-container {
    padding: 4%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-header {
    display: flex;
    align-items: flex-start;
}

.recipe-details {
    width: 50%;
    object-fit: contain;
    margin-right: 20px;
    /* Adiciona espaço entre a imagem e o texto */
}

.recipe-info {
    width: 50%;
    margin-left: 15px;
}

.recipe-info label {
    font-weight: bold;
}

.ingredients,
.recipe-method, .utensilios {
    width: 100%;
    margin-top: 20px;
}

.recipe-info input{
    width: 146%;
}

input,
textarea {
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #000;
}


.recipe-header {
    display: flex;
    align-items: flex-start;
    /* Alinha os itens à esquerda */
    width: 100%;
}


.recipe-info label {
    font-weight: bold;
}


label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

label {
    color: #00401A;
}

.recipe-header img{
    border: 2px solid #000;
}

.image{
    padding: 9%;
    border: 3px solid #00401A;
    border-radius: 15px;
}

.image i{
    font-size: 50px;
    color: #00401A;
    margin-left: 5px;
}

a {
    text-decoration: none;
}

.image label{
    color: #00401A;
    font-size: 20px;
}


