section.login {
    padding: 160px 40%;
}

.cad {
    padding: 10%;
    background-color: #fff;
    box-shadow: 5px 5px 10px #d5d5d5;
    border-radius: 20px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

h2.titulo2 {
    font-size: 30px;
}

h5 {
    font-size: 17px;
    margin-top: 10px;
}

.dados input {
    width: 230px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 8px;
}

.dados input[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
}

.redes-sociais2{
    margin-top: 10px;
    margin-left: 12px;
}

.redes-sociais2 button{
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #00401A;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s0;
}