section.receitas_salvas{
    padding: 160px 4%; /* 160px é a altura da barra-1 */
    text-align: left;/* Centraliza o texto */
    font-size: 20px;
    color: #00401A; /* Cor do texto */

}

.receitas_salvas2{
    text-align: center; /* Centraliza o texto */
    font-size: 20px;   /* Tamanho da fonte */
}

.nomereceita{
    font-size: 30px; /* Tamanho da fonte */
    color: #00401A; /* Cor do texto */
    text-align: center;

}

.interface {
    max-width: 1280px;
    margin: 0;
}

