html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg {
    background-image: url("imagens/Maskgroup.png"), url("imagens/Maskgroup2.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 38%, 110%;
    background-position: top 20px left, top 200px right;
}

.barra-laranja {
    height: 120px;
    background-color: #FFA800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    line-height: 120px;
    font-family: "Changa One", sans-serif;
}

/* Barra 2 ---------------------------------------------*/
/* Estilos para .barra-2 */
.barra-2 {
    display: flex;
    align-items: center;
    background-color: #E9C172;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menus {
    display: flex;
}

.menu {
    margin-right: 30px; 
    margin-left: 30px;;/* Espaçamento entre os menus(largura) */
}

.menu h3 {
    margin-bottom: 5px;
    font-size: 16px;
}


.submenu {
    display: none;
    position: absolute;
    background-color: #fcebca; /* Cor de fundo do submenu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para o submenu */
    list-style: none;
    margin-top: 0px; /* Espaço de cima do submenu */
    padding: 5px 0; /* Espaço interno do submenu */
    font-family: Arial, sans-serif;
    margin-left: 10px;
}

.submenu li {
    padding: 8px 20px; /* Espaçamento dos itens do menu */
}

.submenu li a {
    color: #01020a; /*define a cor do href(link)*/
}

.menu:hover .submenu {
    display: block;
    z-index: 1;

}

/*Fim barra-2*/

h1 {
    font-family: "Changa One", sans-serif;
    font-weight: 1000;
    font-size: 50px;
    font-style: normal;
    margin-top: 0;
    color: #341100;
    margin: 0 30px;
}

h2 {
    position: absolute;
    top: 220%;
    font-family: "Changa One", sans-serif;
    font-weight: 1000;
    font-size: 50px;
    font-style: normal;
    margin-top: 0;
    color: #ffffff;
    margin: 0 30px;
}

.quadro1 {
    margin-bottom: 1110px;
}

.quadro2 {
    width: 100%;
    height: 650px;
    margin: 0px 0;
    background-color: rgb(0, 64, 26);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Adicione estas regras para a barra de pesquisa */
.barra-pesquisa {
    display: flex;
    align-items: center;
}

.barra-pesquisa form {
    display: flex;
    align-items: center;
}

.barra-pesquisa input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    margin-right: 5px;
}

.barra-pesquisa button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #E9C172;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.barra-pesquisa button:hover {
    background-color: #D5A432;
}

/* Adicione estas regras ao seu arquivo CSS */
.barra-pesquisa {
    display: flex;
    align-items: center;
}

.pesquisa-wrapper {
    position: relative;
}

.pesquisa-wrapper input[type="text"] {
    padding: 8px 30px 8px 8px;
    /* Ajuste o padding conforme necessário */
}

.pesquisa-wrapper i {
    position: absolute;
    right: 10px;
    /* Ajuste a posição do ícone conforme necessário */
    top: 50%;
    transform: translateY(-50%);
}

.posicionar-imagem {
    position: absolute;
    top: 10%;
    right: 0;
    margin-right: 20px;
    transform: translate(-50%, -50%);
    width: 3.5%;
}

.posicionar-barra-pesquisa {
    position: absolute;
    top: 10%;
    right: 0;
    transform: translate(-50%, -50%);
}

.posicionar-imagem-logo {
    position: absolute;
    top: 8.3%;
    left: 0;
    margin-left: 355px;
    transform: translate(-50%, -50%);
    width: 2.0%;
}

.posicionar-icon-casa {
    margin-top: 4px;
    right: 0;
    margin-left: 30px;
    width: 1.5%;
}

.posicionar-nome-destaques-da-semana {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.posicionar-imagem-comidas-tipicas {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 6%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.posicionar-comida-fitness{
    position: absolute;
    width: 20%;
    top: 50%;
    left: 29%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.posicionar-comida-airfryer{
    position: absolute;
    width: 20%;
    top: 50%;
    left: 52%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.posicionar-bolo {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 75%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}





.efeito{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.efeito div{
    position: relative;
    overflow: hidden;
}

.efeito figure{
    margin: 0;
}

.efeito img {
    height: auto;
    transition: transform 0.3s ease;
}

.efeito:hover img {
    transform: scale(1.1);
}

@media (min-width: 768px){
    .efeito{
        max-width: 80%;
    }
}

.quadro-comida-tipica {
    position: absolute;
    width: 200px;
    height: 90px;
    background-color: #03BB85;
    left: 198px;
    top: 480px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quadro-comida-fitness {
    position: absolute;
    width: 200px;
    height: 90px;
    background-color: #03BB85;
    left: 540px;
    top: 480px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quadro-comida-airfryer {
    position: absolute;
    width: 200px;
    height: 90px;
    background-color: #03BB85;
    left: 880px;
    top: 480px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quadro-comida-bolo {
    position: absolute;
    width: 200px;
    height: 90px;
    background-color: #03BB85;
    left: 1220px;
    top: 480px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


/*CODIGOS DA PARTE DE MELHOR AVALIAÇÃO*/
.posicionar-imagem-melhor-avaliacao {
    position: absolute;
    left: 400px;
    top: 650px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -17%; 
}

.retangulo-bolo {
    position: absolute;
    top: 800px;
    left: 299px;
    width: 65%;
    height: 36%;
    border: 7px solid #00401A; /* Define a largura e a cor da borda */
    background: transparent;
    border-radius: 20px;
    z-index: 999; /* Valor alto para sobrepor outros elementos */
}

.bolo-de-chocolate {
    position: absolute;
    top: 806px; /* Ajuste a posição vertical para que a imagem fique acima do retângulo */
    left: 300px; /* Ajuste a posição horizontal para que a imagem fique à direita do retângulo */
    width: 27%;
    border-radius: 20px;
}



/*CODIGOS DA PARTE FINAL DO SITE*/
.posicionar-imagem-retangulo1 {
    position: absolute;
    width: 40%;
    right: 0px;
    filter: brightness(500%);
}

.posicionar-imagem-logo-2 {
    position: absolute;
    top: 222%;
    left: 0;
    margin-left: 355px;
    transform: translate(-50%, -50%);
    width: 2.0%;
}