.detalhes-receita {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    /* Ajusta o espaço entre a imagem e o texto */
}

.imagem-receita {
    width: 20%;
    /* Reduz o tamanho da imagem */
}

.titulo {
    color: orange;
    /* Muda a cor do título para laranja */
    text-align: center;
    /* Centraliza o texto do título */
}
.imagem-frango {
    width: 100%;
    height: auto;
}

.detalhes-texto {
    width: 78%;
    /* Ajusta o tamanho do texto */
}

.voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    /* Muda a cor do link para preto */
    text-decoration: none;
    /* Remove o sublinhado do link */
}